# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Virtual environments
.venv/
venv/

# Poetry
poetry.lock

# Testing
.pytest_cache/
.coverage
htmlcov/

# Mypy
.mypy_cache/

# IDE
.vscode/
.idea/
